html,
body {
  font-family: Epilogue, Helvetica, sans-serif;
  @apply min-h-full text-gray;
  -webkit-text-size-adjust: 100%;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
  }
}
